@CHARSET "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
	overflow: auto;
}

#nav, .nav_link, .subnav,
#pages, .section, .content, .close{
	float: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#nav{
	margin: 0 auto;
	background-color: #666;
	width: 100%;
	min-width: 800px;
	height: 51px;
	postion: absolute;
	line-height: 50px;
	font-family: arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
}

#header {
	width: 100%;
	padding-top: 5px;
}

#logo {
	margin: 0px auto;
	text-align: center;
  	display: block;
}

#base {
	margin: 0px auto;
	text-align: center;
	width: 800px;
	font-family: "Times New Roman", Times, serif;
}

#wrapper {
	padding-bottom: 50px;
  	width: 100%;
  	text-align: center;
}

#subtitle {
	padding-bottom: 10px;
}

#redirections {
	padding-top: 125px;
	margin: auto;
	display: inline-block;
}

#logo, .button {
	border: solid #F4F400;
}

.button {
	margin-left: 10px;
	margin-right: 10px;
}