@CHARSET "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
	overflow: auto;
}

#nav, .nav_link, .subnav,
#pages, .section, .content, .close{
	float: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#nav{
	margin: 0 auto;
	background-color: #666;
	width: 100%;
	min-width: 600px;
	height: 51px;
	postion: absolute;
	line-height: 50px;
	font-family: arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
}

#header {
	width: 100%;
	padding-top: 5px;
}

#logo {
	width: 219px;
	height: 78px;
	margin: 0px auto;
	text-align: center;
  	display: block;
}

#wrapper {
  width: 100%;
  text-align: center;
}

#redirections {
	padding-top: 125px;
	margin: auto;
	display: inline-block;
}

.button {
	padding-left: 10px;
	padding-right: 10px;
}

p {
	padding-left: 20px;
}